<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>${GV_title}</title>
        <link href="${GV_base_url}/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="${GV_base_url}/css/style.css">
        <script src="${GV_base_url}/lib/bootstrap/js/bootstrap.bundle.js"></script>
    </head>
    <body class="d-flex flex-column" style="min-height:100vh;">
        ${topnav}
        <div class="mb-5">
            ${container}
        </div>
        ${footer}
    </body>
</html>
